/* Heading Style */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	padding: 20px;
	}
/* Search Bar Style */		
.search-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	}
/* Search bar input style */		
input[type=text] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	width: 50%;
}
/* Button style for search bar */		
button[type=submit] {
	padding: 10px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* Images Style */		
.image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}
		
.image-container img {
	width: 90%;
	margin: 10px;
}
/* Price tag style */
.price-tag {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
/* Add to cart button style */
.add-to-cart {
    display: block;
    width: 70%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e00404;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Description styling */
.description {
    margin: 5px;
    padding: 5px;
}
/* Product styling */
.product {
    display: block;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
/* Cart Button styling */
.cart {
    display: block;
    width: 70%;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e00404;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}